.auth.auth-edit
  .container
    .row
      .col-md-6
        h1 Timetraker
        p about project
      .col-md-6
        .well.bs-component
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = f.error_notification
            fieldset
              legend
                | Edit #{resource_name.to_s.humanize}
              .form-group
                label.col-lg-2.control-label for="email"  Email
                .col-lg-10
                  = f.input :email, :input_class => 'form-control', required: true, autofocus: true, label: false
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                p
                  | Currently waiting confirmation for: #{resource.unconfirmed_email}
              .form-group
                label.col-lg-2.control-label for="password"  Password
                .col-lg-10
                  = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: false;
              .form-group
                label.col-lg-2.control-label for="password_confirmation"  Password confirmation
                .col-lg-10
                  = f.input :password_confirmation, required: false, label: false;
              .form-group
                label.col-lg-2.control-label for="current_password"  Current password
                .col-lg-10
                  = f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: false;
              .form-group

              .form-group
                .col-lg-10.col-lg-offset-2
                  = f.button :submit, 'Send me reset password instructions', class: 'btn-danger'
            p
              | Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
            = link_to "Back", :back
