.container.main
  .row
    .col-md-3
      = render('navigation')

    .col-md-9
      h1 My tasks
      hr.colorgraph

      .row
        = render('counts')

      .actions
        = link_to 'Create new task', new_task_path, class: 'btn btn-default'

      br
      div id="labels"
        h4 Add Labels to your task
        input type="text" id="tag"
        input type="button" value="add label" onclick="getLabels()"
        br

      br
      = simple_form_for @task do |f|
        = f.input :name
        br
        = f.input :description
        br
        = f.button :submit, id: 'createTask', onclick: "sendLabels()"

      br
      input type="button" value="Show added labels" onclick="showLabels()"
      br
      = link_to 'Back to task list', tasks_path

javascript:
  window.labels_list = [];

  function showLabels() {
    var labels = labels_list.join('/*/');
    alert(labels);
  }

  function sendLabels() {
    var labels = labels_list.join('/*/');

    $.ajax({
      type: 'POST',
      url: '/tasks/set_labels',
      data: $.param({label: {name: labels}}),
    });

    console.dir(labels);
  }

  function getLabels() {
    var tag_elem = document.getElementById('tag');
    var label_name = tag_elem.value;
    if (!label_name) {
      alert("There is no label is given to add");
      return false;
    }

    $.ajax({
      type: 'POST',
      url: '/labels/',
      data: $.param({label: {name: label_name}}),
      success: function(data) {
        var obj = null;
        if (data instanceof Array) {
          obj = data[0];
        } else {
          obj = data
        }
        addLabelToView(obj.name);
        tag_elem.value = "";
      }
    });
  }

  function addLabelToView(label_name) {
    if (!validate_label_name(label_name) && labels_list.length > 6) return false;
    var labels_elem = document.getElementById('labels');
    labels_elem.appendChild(document.createTextNode(label_name));
    labels_elem.appendChild(document.createElement("br"));
  }

  function validate_label_name(label_name) {
    var size = labels_list.indexOf(label_name);
    if (size == -1) {
      labels_list.push(label_name);
      return true;
    } else {
      return false;
    }
  }